.container {
  max-width: 800px;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.containerHeader {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.userImg {
  border-radius: 50%;
}

.containerHeader p {
  cursor: pointer;
  border: 1px solid #007bff;
  padding: 5px;
  background-color: transparent;
  font-size: 15px;
}

.container h1 {
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}

.icon {
  color: red;
}

.chartSelector {
  margin: 20px 0;
}

.chartSelector label {
  font-size: 16px;
  margin-right: 10px;
}

.chartSelector select {
  padding: 5px;
  font-size: 16px;
}

.chartContainer {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4;
  border-radius: 8px;
  flex-direction: column;
  gap: 20px;
  margin-top: 50px;
  padding: 20px;
}

.chartCards {
  height: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chartCard {
  width: 70%;
  max-width: 500px;
  height: 70%;
}

.resultsArea {
  margin-top: 2rem;
  padding: 1.5rem;
  background: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.resultsArea h2 {
  color: #333;
  margin-bottom: 15px;
}

.resultsArea p {
  font-size: 1rem;
  color: #555;
}

.chartResult span {
  color: green;
  font-weight: bolder;
}
